<!-- About Section -->
<section id="about" class="container content-section text-center">
    <div class="row">
        <div class="col-lg-4 col-lg-offset-2">
            <br/>
            <img class="img-responsive" width="100%" src="img/lamp.gif" alt="">
        </div>
        <div class="col-lg-4">
            <br/><br/>
            <h2>onLAMP</h2>
            <br/>
            <p>LAMP - это веб-платформа с открытым исходным кодом, она базируется на Linux со следующими компонентами: Apache, MySQL, PHP, но неограничивается ими. LAMP идеально подходит для разработки высоконагруженных веб-приложений и веб-сервисов. Наша команда предлагает разработку, обслуживание и поддержку систем, сервисов и сайтов на этой платформе.</p>
            <br/>
        </div>
    </div>
</section>
