<section id="services">
    <div class="content-section-a">
        <div class="container">
            <h1 class="h1">Наши сервисы</h1>
            <br/>
            <div class="row">
                <!-- item -->
                <div class="col-md-3 text-center">
                    <div class="panel panel-danger panel-pricing">
                        <div class="panel-heading">
                            <a class="text-danger" href="#">
                                <br/><br/>
                                <h3>Prerender<sub>&#946</sub></h3>
                                <br/><br/>
                            </a>
                        </div>
                        <div class="panel-body text-center">
                            <p><strong>Необходимный интсрумент для продвижения single page application и сайтов с использование технологии AJAX</strong></p>
                        </div>
                        <div class="panel-footer">
                            <a class="btn btn-lg btn-block btn-danger" href="#">Подробнее</a>
                        </div>
                    </div>
                </div>
                <!-- /item -->

                <!-- item -->
                <div class="col-md-3 text-center">
                    <div class="panel panel-success panel-pricing">
                        <div class="panel-heading">
                            <a class="text-success" href="#">
                                <br/><br/>
                                <h3>Online Monitor <sub>&#946</sub></h3>
                                <br/><br/>
                            </a>
                        </div>
                        <div class="panel-body text-center">
                            <p><strong>Круглосуточный мониторинт дотупа к Вашему сайту и моментальное оповещение в случае его отсуствия</strong></p>
                        </div>
                        <div class="panel-footer">
                            <a class="btn btn-lg btn-block btn-success" href="#">Подробнее</a>
                        </div>
                    </div>
                </div>
                <!-- /item -->

                <!-- item -->
                <div class="col-md-3 text-center">
                    <div class="panel panel-info panel-pricing">
                        <div class="panel-heading">
                            <a class="text-info" href="http://rendu.ru">
                                <br/><br/>
                                <h3>Rendu.ru</h3>
                                <br/><br/>
                            </a>
                        </div>
                        <div class="panel-body text-center">
                            <p><strong>Онлайн площадка по аренде любых вещей. Здесь можно найти необходимую вещь, или разметить свою.</strong></p>
                        </div>
                        <div class="panel-footer">
                            <a class="btn btn-lg btn-block btn-info" href="http://rendu.ru">Подробнее</a>
                        </div>
                    </div>
                </div>
                <!-- /item -->
                <!-- item -->
                <div class="col-md-3 text-center">
                    <div class="panel panel-warning panel-pricing">
                        <div class="panel-heading">
                            <a class="text-warning" href="#">
                                <br/><br/>
                                <h3>Feedbacker<sub>&#946</sub></h3>
                                <br/><br/>
                            </a>
                        </div>
                        <div class="panel-body text-center">
                            <p><strong>Сервис обратной связи. Готовое решение для любых сайтов в том числе ледингов и single page application. </strong></p>
                        </div>
                        <div class="panel-footer">
                            <a class="btn btn-lg btn-block btn-warning" href="#">Подробнее</a>
                        </div>
                    </div>
                </div>
                <!-- /item -->
            </div>
        </div>
        <!-- /.container -->
    </div>
</section>
