<section id="services">
    <div class="content-section-a">
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <div class="thumbnail">
                        <img src="http://placehold.it/350x222" alt="">
                        <div class="caption">
                            <h4 class="text-center"><a href="#">Prerender<sub>&#946</sub></a></h4>
                            <p>See more snippets like this online store item at <a target="_blank" href="http://www.bootsnipp.com">Bootsnipp - http://bootsnipp.com</a>.</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="thumbnail">
                        <img src="http://placehold.it/350x222" alt="">
                        <div class="caption">
                            <h4 class="text-center"><a href="#">Online Monitor <sub>&#945</sub></a></h4>
                            <p>See more snippets like this online store item at <a target="_blank" href="http://www.bootsnipp.com">Bootsnipp - http://bootsnipp.com</a>.</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="thumbnail">
                        <img src="http://placehold.it/350x222" alt="">
                        <div class="caption">
                            <h4 class="text-center"><a href="http://rendu.ru">Rendu</a></h4>
                            <p>See more snippets like this online store item at <a target="_blank" href="http://www.bootsnipp.com">Bootsnipp - http://bootsnipp.com</a>.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- /.container -->
    </div>
</section>
